// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skinny_wrapper wrapper_padding
{
	position: absolute;
		right: 3em;
		top: 80%;
		font-size: 1.1em;
		color: #9eafba;
}