<h1>Contributors</h1>

<div id="contributors_image">
  <figure>
    <img src="one.jpg" alt="Image 1" />
    <figcaption>Contributor 1</figcaption>
  </figure>
  <figure>
    <img src="two.jpg" alt="Image 2" />
    <figcaption>Contributor 2</figcaption>
  </figure>
  <figure>
    <img src="three.jpg" alt="Image 3" />
    <figcaption>Contributor 3</figcaption>
  </figure>
  <figure>
    <img src="four.jpg" alt="Image 4" />
    <figcaption>Contributor 4</figcaption>
  </figure>
  <figure>
    <img src="five.jpg" alt="Image 5" />
    <figcaption>Contributor 5</figcaption>
  </figure>
  <figure>
    <img src="six.jpg" alt="Image 6" />
    <figcaption>Contributor 6</figcaption>
  </figure>
  <figure>
    <img src="seven.jpg" alt="Image 7" />
    <figcaption>Contributor 7</figcaption>
  </figure>
</div>